<html>
  <head>
    <meta charset="utf-8">
    <title>Update information</title>
    <%- include('head.ejs')%>
  </head>

  <body>
    <%- include('header.ejs')%>

    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-6 col-sm-12 login-background">
          <h2><%= user.username %></h2>
            <form action="http://localhost:3000/users/updateInformation" method="POST">
              <input name="mail" type="text" placeholder="Mail" value=<%= user.mail %> />
              <input name="street" type="text" placeholder="20 avenue de la République" value="<%= user.address.street %>" />
              <input name="city" type="text" placeholder="Paris" value=<%= user.address.city %> />
              <input name="postalCode" type="text" placeholder="75010" value=<%= user.address.postalCode %> />
              <input name="country" type="text" placeholder="France" value=<%= user.address.country %> />
              <input type="submit" value="Valider" />
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer.ejs')%>
  </body>
</html>