<html>
  <head>
    <meta charset="utf-8">
    <title>User information</title>
    
    <%- include('head.ejs')%>
  </head>

  <body>
    <%- include('header.ejs')%>

    <!--<div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-3 col-lg-3 col-sm-12 login-background">
          <h2>Vos informations</h2>
          <br>
          <h8><b>Pseudo: </b></h8>
          <%= user.username %><br/>
          <h8><b>Date de naissance: </b></h8>
          <%= user.birthDate %><br/>
          <h8><b>E-mail: </b></h8>
          <%= user.mail %><br/>
          <h8><b>Adresse:</b></h8>
          <%= user.address.street%><br/>
          <%= user.address.city %><br/>
          <%= user.address.postalCode %><br/>
          <%= user.address.country %><br/>
          <br>
          <br>
          <center>
            <a href="http://localhost:3000/users/updateInformation"><button>Modifier les informations</button></a><br/>
            <a href="http://localhost:3000/users/updatePassword"><button>Modifier le mot de passe</button></a>
            <a href="http://localhost:3000/users/orders"><button>Consulter vos commandes</button></a>
            <a href="http://localhost:3000/users/logout"><button>logout</button></a>
          </center>
        </div>
      </div>
    </div>-->
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6 col-lg-6 col-sm-12 login-background">
          <h2><%= user.username %></h2>
            <form action="#" method="POST">
              <input name="username" type="text" placeholder="Mail" disabled value=<%= user.username %> />
              <input name="birthDate" type="date" placeholder="Mail" disabled value=<%= user.birthDate %> />
              <input name="mail" type="text" placeholder="Mail" disabled value=<%= user.mail %> />
              <input name="street" type="text" placeholder="20 avenue de la République" disabled value="<%= user.address.street %>, <%= user.address.postalCode %> <%= user.address.city %> - <%= user.address.country %>" />
            </form>
            <a href="http://localhost:3000/users/updateInformation"><button>Modifier les informations</button></a>
            <a href="http://localhost:3000/users/updatePassword"><button>Modifier le mot de passe</button></a>
            <a href="http://localhost:3000/users/orders"><button>Consulter vos commandes</button></a>
            <a href="http://localhost:3000/users/logout"><button>logout</button></a>
          </div>
        </div>
      </div>
    </div>

    <%- include('footer.ejs')%>
  </body>
</html>